<!DOCTYPE html>
<html lang="en" style="font-family: sans-serif; font-family: 'museo-regular'">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow, noarchive" />
    <style type="text/css">
      a {
        color: #000000;
      }
      .button {
        padding: 10px 30px;
      }
      @media screen and (max-width: 400px) {
        .padded-x {
          padding-left: 20px;
          padding-right: 20px;
        }
        .padded-y {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
      @media screen and (min-width: 400px) {
        .padded-x {
          padding-left: 40px;
          padding-right: 40px;
        }
        .padded-y {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    </style>
  </head>
  <body style="box-sizing: border-box; background-color: #fbfbfb">
    <table
      style="
        box-sizing: border-box;
        border-collapse: collapse;
        width: 100% !important;
        width: 100%;
        max-width: 680px;
        margin: auto;
        border: 1px solid #f9f9f9;
        background-color: #ffffff;
        margin-top: 80px;
      "
    >
      <tbody style="box-sizing: border-box">
        <tr style="box-sizing: border-box; margin-top: 120px">
          <td
            class="padded-x padded-y"
            style="
              box-sizing: border-box;
              font-size: 16px;
              color: #311a07;
              line-height: 28px;
              text-align: center;
            "
          >
            <img
              style="
                box-sizing: border-box;
                max-height: 56px;
                max-width: 150px;
                margin-bottom: 10px;
              "
              src="https://groomingmfb.com/wp-content/uploads/2021/10/GMFB-Logo.png"
              alt="Logo Title"
            />
          </td>
        </tr>
        <tr style="box-sizing: border-box">
          <td
            class="padded-x"
            style="
              box-sizing: border-box;
              font-size: 16px;
              color: #311a07;
              line-height: 28px;
              padding-bottom: 10px;
            "
          >
            <p
              style="
                box-sizing: border-box;
                font-size: 16px;
                color: #311a07;
                line-height: 28px;
                font-weight: 600;
              "
            >
              Hello {{firstName}},
            </p>
            <p
              style="
                box-sizing: border-box;
                font-size: 16px;
                color: #311a07;
                line-height: 28px;
              "
            >
              {{message}}
            </p>
          </td>
        </tr>
        <tr style="box-sizing:border-box;">
          <td style="box-sizing:border-box;font-size:24px;color:#311A07;line-height:28px;background-color: #f8f8f8; padding-top: 20px; padding-bottom: 20px; display: block">
            <table class="inner-table righty" style="box-sizing:border-box;border-collapse:collapse;width:100% !important;">
              <tbody style="box-sizing:border-box;">
                <tr style="box-sizing:border-box;">
                  <td style="box-sizing:border-box;text-align:center;font-size:24px;color:#311A07;line-height:28px;padding:10px 0; font-weight: 800">{{otp}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="box-sizing: border-box; display: block; padding-top: 50px; text-align: center; width: 100%">
          <td
            class="padded-x padded-y"
            style="
              box-sizing: border-box;
              font-size: 16px;
              color: #311a07;
              line-height: 28px;
              text-align: center;
              border-top: 1px solid #f1f2f4;
              width: 100%;
              display: block;
            "
          >
            <p
              style="
                box-sizing: border-box;
                font-size: 16px;
                color: #311a07;
                line-height: 28px;
              "
            >
              <span
                style="
                  box-sizing: border-box;
                  color: #737a91;
                  margin-bottom: 10px;
                "
                >Copyright © {{year}} GMFB CIB. All Rights
                Reserved.</span
              >
            </p>
            <img
              style="box-sizing: border-box; height: 40px"
              src="https://groomingmfb.com/wp-content/uploads/2021/10/GMFB-Logo.png"
              alt="grooming mfb"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
